# Data Science Tools and Ecosystem

Dans ce carnet, les outils et l'écosystème de la science des données sont résumés.

Voici quelques-uns des langages les plus utilisés par les scientifiques des données :
1. Python
2. SQL
3. R

**Objectives:** 
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Voici quelques-unes des bibliothèques couramment utilisées par les scientifiques des données :
1. Numpy
2. Pandas
3. Matplolit
4. Sckit learn

|Data Science Tools|
|------------|
|RStudio|
|Jupyter|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
minutes = 200
heures = minutes /60
print(heures)

3.3333333333333335

## Author
Hamza Sanmo